.alert {
    padding: .625rem 1.25rem;
	background: lightblue;
	border: 1px solid #0e91e3;
	transition: .4s all;

	// &:hover {
	// 	box-shadow: 0 .15625rem .15625rem rgba(0,0,0,.2);
	// }
	&.success {
		background: lightgreen;
		border-color: #22ee22;
	}
	&.warning {
		background: lightsalmon;
		border-color: #e7a01b;
	}
	&.danger {
		background: #ffd0d0;
		border-color: #ffd0d0;
	}
}