*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
body {
    margin: 0;
    font-family: $font-family;
	color: #000;

	@media screen {
		color: $color-text;
		background: #eee;
	}
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
hr {
	margin: 0;
	border: none;
	height: 1px;
	background-color: $color-light-gray;
}