input[type='text'],
input[type='number'],
input[type='date'],
textarea,
select {
    display: block;
	width: 100%;
	// min-height: 2.25rem;
    min-height: 1.8rem;
    line-height: 1rem;
    font-size: 1rem;
    font-family: monospace;
    padding: $size-tiny $size-medium;
    background: #fff;
    border: 1px solid #999;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

    &:disabled {
        background: #eee;
    }
}
textarea {
	min-height: 3.5rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    resize: vertical;
}
label {
    font-size: .85rem;
    font-weight: bold;
}
// .mdc-select {
// 	width: 100%;
//
// 	&:not(.mdc-select--disabled) {
// 		background-color: transparent;
// 	}
//
// 	& > select {
// 		-webkit-appearance: none;
// 	}
// }

.controls li {
	padding: 1.25rem .625rem;
	background: #fff;
	border-bottom: 1px solid #ddd;

	&:last-child {
		border-bottom: none;
	}
}
.control-block {
	margin-bottom: .625rem;

	&:last-child {
		margin-bottom: 0;
	}

	& > .control-input-checkbox {
		display: flex;
		justify-content: space-between;
        align-items: center;
	}
}