.invoice-wrapper {
	position: relative;
	font-size: $font-size-text;
	width: 100%;

	@media screen {
		padding: 0 0 141.4285%;
		min-width: 700px;
		box-shadow: $box-shadow-std;
	}
}
.invoice-grid {
	position: absolute;
	top: 0; left: 0; right: 0;
	display: grid;
	grid-gap: $size-small $size-large;
	grid-template-columns: 1fr 1fr;

	@media screen {
		padding: $paper-padding;
	}
}

.invoice-grid-full-width {
	grid-column-start: 1;
	grid-column-end: 3;
}

.invoice-footer {
	position: absolute;
	bottom: $paper-padding; left: $paper-padding; right: $paper-padding;
	font-size: $font-size-small;
	line-height: .75rem;
}

.invoice-logo {
	display: inline-block;
	width: 5.2rem; height: 5.2rem;
	overflow: hidden;
	margin-right: $size-medium;
}

.invoice-rows {
	width: 100%;

	// I don't know why I have to copy this..
	// font-size: .9rem;
	font-size: $font-size-text;

	&-icon {
		color: $color-medium-gray;

		&:hover {
			color: $color-text;
		}
	}

	td {
		padding-top: $size-tiny / 2;
		padding-bottom: $size-tiny / 2;
	}
}

.settings-drawer .mdc-drawer {
	width: unset;
}

.invoice-side {

	&-wrapper {
		display: flex;
		margin: $size-small 0;
	}
	&-label {
		font-style: italic;
		font-size: 90%;
		line-height: 1.15rem;
		padding-left: $size-medium;
	}
	&-text {
		flex: 1;
		min-height: 1rem;
		border-left: 1px solid $color-light-gray;
		padding-left: $size-medium;
		margin-left: $size-medium;

		&::first-line {
			font-weight: bold;
		}
	}
}