.mdc-drawer {

    & > .mdc-button {
        margin: 16px 8px 0;
    }
}
.mdc-list-item--disabled-selected::before {
    content: '';
    position: absolute;
    top: calc(50% - 100%);
    left: calc(50% - 100%);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    opacity: 0;
    opacity: 0.08;
    pointer-events: none;
    transition: opacity 15ms linear, background-color 15ms linear;
    z-index: 1;
    background-color: #6200ee;
    background-color: var(--mdc-theme-primary, #6200ee);
}