$mdc-theme-primary: #5b97e6;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #442b2d;

@import '@material/react-button/index.scss';
@import '@material/react-icon-button/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-list/index.scss';

@import '@material/button/mixins';

@import './styles/base';
@import './styles/grid';
@import './styles/flex';
@import './styles/typography';
@import './styles/buttons';
@import './styles/lists';
@import './styles/alert';
@import './styles/form';
@import './styles/modal';
@import './styles/mdc-lists';


@media print {
	.screen-only {
		display: none;
	}
	.wrapper {
		width: 100%;
	}

	/* react tools */
	#root > div:first-child > div:first-child {
		display: none;
	}
}

@media screen {
	.wrapper {
		max-width: 960px;
		margin: 2rem auto;
	}

	.layout-grid {
		width: 100%;
		display: grid;
	    grid-gap: 1.25rem;
		grid-template-columns: 200px auto;
	}
}
.box {
	padding: .625rem;

	@media screen {
		background: #fff;
		transition: .4s all;

	    &:hover {
	        box-shadow: 0 .15625rem .15625rem rgba(0,0,0,.2);
	    }
	}
}
.block {
    margin-bottom: .625rem;
}
.empty {
    text-align: center;
    padding: 4rem;
    color: #bbb;
}

.cursor-pointer {
    cursor: pointer;
}

.project-logo {
	/* position: absolute; */
	/* vertical-align: top; */
	display: inline-block;
	left: 0; top: -.6rem;
	width: 2rem; height: 2rem;
}

.addon {
	width: 1%;
}
.invoice-wrapper {
	position: relative;
	width: 100%;
	min-width: 100%;
	padding: 0 0 141.4285%;
	font-size: .9rem;

	@media screen {
		min-width: 700px;
	}
}
.invoice-grid {
	position: absolute;
	width: 100%;
	display: grid;
	grid-gap: .3125rem 1.25rem;
	grid-template-columns: 1fr 1fr;

	@media screen {
		padding: 5rem;
	}
}
.invoice-grid-full-width {
	grid-column-start: 1;
	grid-column-end: 3;
}
.invoice-logo {
	display: inline-block;
	width: 5.2rem; height: 5.2rem;
	overflow: hidden;
	margin-right: .625rem;
}
.invoice-rows {
	width: 100%;
}
.qr-wrapper {
	padding-top: 3rem;
}


.invoice-side::first-line {
	font-weight: bold;
}