$mdc-theme-primary: #5b97e6;
$mdc-theme-secondary: #5b97e6;
$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #fff;

$font-family: 'arsenalregular', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$size-base: .15625rem;

$size-tiny: $size-base * 1;
$size-small: $size-base * 2;
$size-medium: $size-base * 4;
$size-big: $size-base * 6;
$size-large: $size-base * 8;

$color-light-gray: #dedede;
$color-medium-gray: #bbb;
$color-text: #555;

$box-shadow-std: 0 .0625rem $size-tiny rgba(0,0,0,.4);

$h1: 'h1, .heading-1';
$h2: 'h2, .heading-2';
$h3: 'h3, .heading-3';
$h4: 'h4, .heading-4';
$h5: 'h5, .heading-5';
$h6: 'h6, .heading-6';

@import '@material/react-button/index.scss';
@import '@material/react-icon-button/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-checkbox/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-tab-indicator/index.scss';
@import '@material/react-select/index.scss';

@import './styles/prototyping';
@import './styles/base';
@import './styles/box';
@import './styles/grid';
@import './styles/flex';
@import './styles/typography';
@import './styles/buttons';
@import './styles/lists';
@import './styles/alert';
@import './styles/icons';
@import './styles/forms';
@import './styles/tables';
@import './styles/modal';
@import './styles/mdc-lists';
@import './styles/print-placeholder';
@import './styles/invoice';
@import './styles/qr';

@media print {
	.screen-only {
		display: none;
	}
	.wrapper {
		width: 100%;
	}

	/* react tools */
	#root > div:first-child > div:first-child {
		display: none;
	}
}

@media screen {
	#root {
		padding-left: $size-large;
		padding-right: $size-large;
	}

	.wrapper {
		max-width: 960px;
		max-width: 1096px;
		margin: 2rem auto;

	}
	footer > .wrapper {
		margin-top: $size-small;

		a:hover {
			text-decoration: underline;
		}
	}

	.layout-grid {
		width: 100%;
		display: grid;
		grid-gap: $size-large;
		grid-template-columns: 200px auto 68px;

		// & > * {
		// 	overflow: hidden;
		// }
	}
}

.block {
	display: block;
		margin-bottom: $size-medium;
}
.empty {
	text-align: center;
	padding: 4rem;
	color: $color-medium-gray;
}

.cursor-pointer {
	cursor: pointer;
}

.controls > * {
	box-shadow: $box-shadow-std;
}

.project-logo {
	display: inline-block;
	left: 0; top: -.6rem;
	width: 2rem; height: 2rem;
}

.addon {
	width: 1%;
}